.nav {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-left: 50px;
  li {
    padding-top: 20px;
    text-align: center;
    list-style: none;
    margin-right: 30px;
    a {
      color: white;
      text-decoration: none;
    }
    &.active {
      font-weight: bold;
    }
  }
}
